# place in ~/.gitignore
# configure with `git config --global core.excludesfile ~/.gitignore`
!/log/.keep
!/storage/.keep
!/tmp/.keep
.byebug_history
.env
.envrc
.rspec
.rvmrc
.yarn-integrity
*.orig
*.rbc
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/public/assets
/public/packs
/public/packs-test
/public/system
/spec/tmp
/storage/*
/tmp/*
/vendor/bundle
/yarn-error.log
capybara-*.html
config/initializers/secret_token.rb
config/master.key
node_modules/
rerun.txt
yarn-debug.log*

.bundle/
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/
