.message-block {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  .message {
    display: flex;
    flex-direction: row;
  }
  .avatar {
    height: 48px;
    width: 48px;
  }
  .message-details {
    padding: 0 0.5em 0.5em 0.5em;
  }
  .message-content {

  }

  .participant-name {
    font-weight: bold;
  }

  .message-time {
    color: #ccc;
  }
}
