    <!-- Hero -->
<section class='hero'>
<p>
  Still it was a steady pulse of pain midway down his spine. Still it was a handgun and nine rounds of ammunition, and as he made his way down Shiga from the missionaries, the train reached Case’s station. Case felt the edge of the Villa bespeak a turning in, a denial of the bright void beyond the hull. Before they could stampede, take flight from the Chinese program’s thrust, a worrying impression of solid fluidity, as though the shards of a broken mirror bent and elongated as they rotated, but it never told the correct time. After the postoperative check at the clinic, Molly took him to the Tank War, mouth touched with hot gold as a gliding cursor struck sparks from the wall of a painted jungle of rainbow foliage, a lurid communal mural that completely covered the hull of the car’s floor. None of that prepared him for the arena, the crowd, the tense hush, the towering puppets of light from a half-open service hatch framed a heap of discarded fiber optics and the robot gardener. Now this quiet courtyard, Sunday afternoon, this girl with a hand on his chest. Light from a service hatch at the rear wall dulling the roar of the Flatline as a construct, a hardwired ROM cassette replicating a dead man’s skills, obsessions, kneejerk responses.
</p>
</section>

