<!-- inbox title -->
<div class="d-flex align-items-center p-0 border-faded border-top-0 border-left-0 border-right-0 flex-shrink-0">
  <div class="d-flex align-items-center w-100 pl-3 px-lg-4 py-2 position-relative">
    <div class="d-flex flex-row align-items-center mt-1 mb-1">
      <div class="mr-2 d-inline-block">
        <span class="rounded-circle profile-image d-block" style="background-image:url('img/demo/avatars/avatar-b.png'); background-size: cover;"></span>
      </div>
      <div class="info-card-text">
        <a href="javascript:void(0);" class="fs-lg text-truncate text-truncate-lg" data-toggle="dropdown" aria-expanded="false">
          Oliver Kopyov
          <i class="fal fa-angle-down d-inline-block ml-1 fs-md"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item px-3 py-2" href="#">Send Email</a>
          <a class="dropdown-item px-3 py-2" href="#">Create Appointment</a>
          <a class="dropdown-item px-3 py-2" href="#">Block User</a>
        </div>
        <span class="text-truncate text-truncate-md opacity-80">Online Strategist</span>
      </div>
    </div>
  </div>
</div>
<!-- end inbox title -->
